@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Notification";
}
 <div><notification-el></notification-el></div>
<script src="~/dist/notification-module/polyfills.js"></script>
<script src="~/dist/notification-module/main.js"></script>
