:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
  text-align: left;
  padding: 1rem;
  border: 1px solid #e9ecef;
  border-width: 0 0 1px 0;
  font-weight: 700;
  color: #fff;
  background: #23282c;
}
